* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: rgb(169, 157, 157);
    --logo-color: rgb(238, 239, 132);
    --second-color: rgb(195, 45, 45);
    --rectangle-color: #2e2e96;
}

body {
    font-family: "Montserrat", sans-serif;
    color: black ;
    padding-bottom: 50px;
    background-color: #fff;
    position: relative;
}


.flex {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;  
    justify-content: space-around;
}

.flex_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red_text {
    color: var(--second-color);
}


.inbl{
    display: inline-block;
}


.center {
    text-align: center;
}


.paragrafi_section {
    font-size: 1.1em;
    line-height: 1.5;
    
}

.spacer_bottom {
    padding-bottom: 2rem;
}

.double_sb {
    padding-bottom: 3rem;
}

.spacer_left {
    padding-left: 3rem;
}

.spacer_right {
    padding-right: 3rem;
}

.double_sr {
    padding-right: 4rem;
}

.spacer_top {
    padding-top: 3rem;
}



.bolder {
    font-weight: bolder;
}

.capitalize {
    text-transform: capitalize;
}

.upper {
    text-transform: uppercase;
}

/* -- Helpers -- */

.flexw {
    flex-basis: 90%;
    text-align: center;

}

.titoli_page {
    font-size: 3em;
    text-transform: capitalize;

}

.titoli_2 {
    font-size: 2em;
}


.flexw::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('https://github.com/lucazanesco/lucazanesco.github.io/blob/main/img_Cap/capodanno_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.15;
}

.titoli_cibo {
    letter-spacing: 0.2em;
    text-align: center;

}

.par {
    font-family: "Great Vibes", sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    padding-top: 1rem;
}

.paragrafi_section_1 {
    font-size: 0.6em;
    text-align: left;
}

#menuNat ul li {
    text-align: left;
    list-style: none;
    padding: 0.5em 0;
    letter-spacing: 0.1em;
}













